<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="put.iwm.android.motionrecorder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />

    <application
        android:name=".application.MotionRecorderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.AuthenticationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activities.AuthenticationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AuthenticationActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.AuthenticationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="put.iwm.android.motionrecorder.activities.AuthenticationActivity" />
        </activity>

        <service
            android:name=".services.LocationListenerService"
            android:enabled="true"
            android:label="LocationListenerService" >
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAz1RhjwzdnWNMSuBT9Sk8ooRIdfLMj50o" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MR1.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <activity
            android:name=".activities.TrainingStatsActivity"
            android:label="@string/title_activity_training_stats" >
        </activity>
        <activity
            android:name=".activities.RouteMapActivity"
            android:label="@string/title_activity_route_map" >
        </activity>
    </application>

</manifest>
